@charset "utf-8";

/*-- __Reset
------------------------------------------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, .nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, .nav, section {
    display: block;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border: none;
    -ms-interpolation-mode: bicubic;
}

textarea {
    overflow: auto;
    resize: vertical;
}

button {
    width: auto;
    overflow: visible;
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

input:focus {
    outline: none;
}

label[for] {
    cursor: pointer
}

abbr {
    font-size: 0.85em;
    letter-spacing: 0.2em;
}

strong {
    font-weight: 700;
}

::-webkit-input-placeholder {
    color: #65767e;
}

:-moz-placeholder {
    color: #65767e;
    opacity: 1;
}

::-moz-placeholder {
    color: #65767e;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #65767e;
}

input {
    font-family: 'verdana', Arial;
}

a {
    color: #65767e;
    text-decoration: underline;
}

a:hover {
    color: #354953;
}

a:active {
    color: #354953;
}

a:visited {
    color: #354953;
}

p {
    line-height: 1.8
}

/*-- __Non-semantic helpers
------------------------------------------------------------*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*-- __***
------------------------------------------------------------*/

.overlay {
    background: #555555; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #999999 0%, #555555 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #999999), color-stop(100%, #555555));
    background: -webkit-radial-gradient(center, ellipse cover, #999999 0%, #555555 100%);
    background: -o-radial-gradient(center, ellipse cover, #999999 0%, #555555 100%);
    background: -ms-radial-gradient(center, ellipse cover, #999999 0%, #555555 100%);
    background: radial-gradient(ellipse at center, #999999 0%, #555555 100%);
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100000;
    -webkit-opacity: .8;
    -khtml-opacity: .8;
    -moz-opacity: .8;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
    opacity: .8;
    filter: alpha(opacity=80);
}

/*ajax-loader*/
.ajax-loader {
    position: relative;
}

.ajax-loader:after {
    content: '';
    display: inline-block;
    z-index: 100001;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 34px;
    height: 34px;
    margin-top: -17px;
    margin-left: -17px;
    background-image: url("../Content/images/ajax-loading.png");
    -webkit-opacity: 0.8;
    -khtml-opacity: 0.8;
    -moz-opacity: 0.8;
    opacity: 0.8;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
    filter: alpha(opacity=80);
    -webkit-animation: play 0.8s steps(11) infinite;
    -moz-animation: play 0.8s steps(11) infinite;
    -ms-animation: play 0.8s steps(11) infinite;
    animation: play 0.8s steps(11) infinite;
    -webkit-transition: margin-top 0s;
    -moz-transition: margin-top 0s;
    -ms-transition: margin-top 0s;
    transition: margin-top 0s;
}

.small-loader.ajax-loader:after {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
}

@-webkit-keyframes play {
    from {
        background-position: 0;
    }
    to {
        background-position: -374px;
    }
}

@-moz-keyframes play {
    from {
        background-position: 0;
    }
    to {
        background-position: -374px;
    }
}

@-ms-keyframes play {
    from {
        background-position: 0;
    }
    to {
        background-position: -374px;
    }
}

@keyframes play {
    from {
        background-position: 0;
    }
    to {
        background-position: -374px;
    }
}

/*/ajax-loader*/

/*-- __Custom controls
------------------------------------------------------------*/

.text-field {
    font: 13px/30px Roboto, "Helvetica CY", "Nimbus Sans L", sans-serif;
    height: 40px;
    background-color: #fff;
    color: #65767e;
    vertical-align: top;
    display: inline-block;
    border: 1px solid #43a4d5;
    padding: 5px 15px;
    border-radius: 5px;
    -webkit-transition: background 0.3s, color 0.3s;
    -moz-transition: background 0.3s, color 0.3s;
    -ms-transition: background 0.3s, color 0.3s;
    transition: background 0.3s, color 0.3s;
}

.text-field.simple {
    border: none;
    height: 30px;
    line-height: 20px;
}

.text-field input {
    color: #65767e;
    width: 100%;
    background: transparent;
    display: inline-block;
    vertical-align: top;
    height: 30px;
    border: none;
    font: 13px/30px Roboto, "Helvetica CY", "Nimbus Sans L", sans-serif;
    padding: 0;
}

.text-field.full-w {
    width: 100%;
}

.text-field.half-w {
    width: 50%;
}

.text-field.full-w + .btn {
    margin-top: 15px;
}

.text-field[disabled],
.text-field.disabled {
    background: #f6f6f6;
    color: #a7a7a7;
    border: 1px solid rgb(150, 150, 160);
}

.text-field.disabled .btn.primary {
    background: rgb(150, 150, 160);
}

.label-field {
    display: block;
    font-size: 0;
}

.label-field span {
    font-size: 13px;
    display: inline-block;
    vertical-align: middle;
}

.btn {
    vertical-align: middle;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    display: inline-block;
    color: #fff;
    text-align: center;
    background: #00bb5c;
    text-decoration: none;
    border: none;
    height: 40px;
    line-height: 40px;
    padding: 0 35px;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -ms-transition: background 0.3s;
    transition: background 0.3s;
}

.btn.small {
    height: 30px;
    line-height: 30px;
    padding: 0 25px;
}

.btn + .btn {
    margin-left: 12px;
}

.btn[class*="icn"] {
    padding-left: 55px;
    position: relative;
}

.btn.small[class*="icn"] {
    padding-left: 45px;
}

.btn[class*="icn"]:before {
    position: absolute;
    left: 17px;
    font-size: 13px;
}

.btn:hover, .btn.active {
    text-decoration: none;
    background: #009549;
    color: #fff;
}

.btn.full-w {
    width: 100%;
}

.btn.primary {
    background: #43a4d5;
}

.btn.primary:hover, .btn.primary.active {
    background: #3094c7;
}

.btn.primary.disabled {
    background: rgb(150, 150, 160);
}

.btn.secondary {
    background: #ef5824;
}

.btn.secondary:hover, .btn.secondary.active {
    background: #e74b15;
}

[type="button"]:hover, button:hover, a:hover, .btn:hover {
    cursor: pointer;
}

/*fix for click event on ipad*/

/*nice-checkbox*/
.nice-checkbox {
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin: 0 0 0 103px;
}

.nice-checkbox input {
    position: absolute;
    z-index: -1;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    opacity: 0;
    filter: alpha(opacity=0);
}

.nice-checkbox span {
    display: inline-block;
    margin-right: 10px;
}

.nice-checkbox span:before {
    content: "\f00c";
    z-index: 1;
    margin-right: 10px;
    display: inline-block;
    color: #fff;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    width: 13px;
    height: 13px;
    border-radius: 3px;
    border: 1px solid #43a4d5;
    background: #fff;
}

.nice-checkbox input[type="checkbox"]:checked + span:before {
    color: #43a4d5;
}

.nice-checkbox.disabled span:before {
    content: "";
    z-index: 1;
    margin-right: 10px;
    display: inline-block;
    color: #fff;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    width: 13px;
    height: 13px;
    border-radius: 3px;
    border: 1px solid rgb(150, 150, 160);
    background: #fff;
}

/*/nice-checkbox*/

/*nice-select*/
.nice-select {
    position: relative;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
}

.nice-select.full-w {
    width: 100%
}

.nice-select ul {
    display: none;
    position: absolute;
    padding: 5px 0;
    background: #fff;
    width: 100%;
    top: 39px;
    z-index: 1;
    border: 1px solid #43a4d5;
    border-radius: 0 0 5px 5px;
}

.nice-select.open ul {
    display: block;
    background: #fff;
}

.nice-select.simple ul {
    top: 29px;
    border: none;
}

.nice-select li {
    padding: 5px 15px;
}

.nice-select li:hover {
    background: #eef4f7;
}

.nice-select.simple li {
    padding: 3px 15px;
}

.nice-select li.select {
    display: none;
}

.nice-select .text-field {
    width: 100%;
    white-space: nowrap;
    position: relative;
    padding-right: 55px;
    background: #eef4f7;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nice-select.open .text-field {
    background: #fff;
    border-radius: 5px 5px 0 0;
}

.nice-select.simple .text-field {
    background: #fff;
    padding-right: 40px;
}

.nice-select.simple .text-field:before {
    width: 30px;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    height: 30px;
    top: 0;
    right: 0;
}

.nice-select .text-field:before {
    background: #43a4d5;
    position: absolute;
    width: 40px;
    border-radius: 0 5px 5px 0;
    color: #fff;
    font-size: 20px;
    line-height: 38px;
    text-align: center;
    height: 40px;
    right: -1px;
    top: -1px;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -ms-transition: background 0.3s;
    transition: background 0.3s;
}

.nice-select:hover .text-field:before {
    background: #3094c7;
}

.nice-select.open .text-field:before {
    content: "\f077";
    border-radius: 0 5px 0 0;
}

.nice-select.disabled .text-field:before {
    background: rgb(150, 150, 160);
    color: #fff;
}

/*/nice-select*/

/*fake-file*/
.fake-file {
    position: relative;
}

.fake-file input {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    opacity: 0;
    filter: alpha(opacity=0);
}

/*/fake-file*/

.full-w + .full-w {
    margin-top: 15px;
}

.full-w.simple + .full-w.simple {
    margin-top: 10px;
}

.label-field + .label-field {
    margin-top: 10px;
}

.row-field + .row-field {
    margin-top: 10px;
}

.label-field + .row-field {
    margin-top: 10px;
}

.row-field + .label-field {
    margin-top: 10px;
}

.full-w + .row-field {
    margin-top: 10px;
}

.row-field + .full-w {
    margin-top: 10px;
}

.full-w + .label-field {
    margin-top: 10px;
}

.label-field + .full-w {
    margin-top: 10px;
}

.btn.transparent {
    background: none;
    border-style: solid;
    border-width: 2px;
    border-color: #00bb5c;
    border-radius: 5px;
    color: #72828a;
    width: 300px;
    padding: 0 20px;
}

/*-- __Header
------------------------------------------------------------*/

.header {
    height: 100px;
    background: #344650;
    border-top: 6px solid #00bb5c;
    color: #fff;
}

.header .logo {
    vertical-align: top;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    width: 197px;
    height: 94px;
    background: url("../Content/images/cloud-logo.png") no-repeat;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .header .logo {
        background-image: url("../Content/images/cloud-logo-2x.png");
        background-size: cover;
    }
}

/*nav*/
.nav {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin: 30px 0 0 90px;
}

.nav a {
    text-decoration: none;
    padding: 0 15px;
    display: inline-block;
}

.nav li {
    position: relative;
}

.nav > li {
    display: inline-block;
    height: 25px;
    line-height: 25px;
}

.nav > li > a {
    height: 25px;
    color: #fff;
    font-size: 16px;
}

.nav > li > a:hover {
    color: #a3bbc8;
}

.nav > li > a.disabled {
    color: rgb(150, 150, 160);
}

.nav > li.open > a {
    color: #fff;
    background: #009549;
    border-radius: 5px 5px 0 0;
}

.nav ul {
    z-index: 1;
    display: none;
    background: #d8e3e9;
    border-radius: 5px;
    position: absolute;
    text-align: left;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.nav > li > ul {
    border-top: 5px solid #009549;
    border-radius: 0 5px 5px 5px;
    padding: 5px 0 10px 0;
    top: 25px;
    left: 0;
}

.nav li.open > ul {
    display: inline-block;
}

.nav ul li {
    display: block;
}

.nav ul a {
    color: #65767e;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    width: 240px;
}

.nav ul a:hover {
    color: #fff;
    background: #8eabba;
}

.nav ul ul {
    left: 245px;
    top: 0;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.2);
}

.nav ul ul li:first-child a {
    border-radius: 5px 5px 0 0;
}

.nav ul ul li:last-child a {
    border-radius: 0 0 5px 5px;
}

.nav .icn-chevron-right:before {
    position: absolute;
    right: 10px;
}

.nav a.disabled {
    color: rgb(150, 150, 160);
}

/*/nav*/

/*user-nav*/
.user-nav {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-top: 29px;
    float: right;
}

.user-nav li {
    display: inline-block;
    height: 30px;
    line-height: 30px;
}

.user-nav li2 {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width: 120px;
}

.user-nav li3 {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width: 120px;
    margin-right: 15px;
}

.user-nav a {
    height: 30px;
    vertical-align: top;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    padding: 0 15px;
    display: inline-block;
}

.user-nav a:hover {
    color: #a3bbc8;
}

.user-nav a.disabled {
    color: rgb(150, 150, 160);
}

.user-nav a.icn-user {
    position: relative
}

.user-nav a.icn-user:before {
    color: #00bb5c;
    position: absolute;
    font-size: 20px;
    left: -15px;
}

.user-nav a.icn-user:hover:before {
    color: #009549;
}

.user-nav a.btn {
    line-height: 30px;
    border: 1px solid #00bb5c;
    background: none;
}

.user-nav a.btn:hover {
    background: none;
    border: 1px solid #009549;
}

.user-nav a.btn.disabled {
    border: 1px solid #00bb5c;
}

/*/user-nav*/

/*-- __Content
------------------------------------------------------------*/

.main-content {
}

/*filters*/
.filters {
    margin-top: 20px;
    background: #e4ecf0;
    padding: 10px 12px;
    font-size: 0;
}

.filters .serach {
    width: 220px;
    padding-right: 55px;
    display: inline-block;
    vertical-align: top;
    margin-left: 13px;
    position: relative;
}

.filters .serach .icn-search {
    position: absolute;
    top: -1px;
    right: -1px;
    border-radius: 0 5px 5px 0;
    padding: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: top;
}

.filters .serach .icn-search:before {
    position: static;
    font-size: 20px;
}

.filters .icn-chevron-left:before {
    position: absolute;
    font-size: 24px;
    color: #00bb5c;
}

.filters .nice-select {
    margin-left: 13px;
}

.filters .nice-select.f-fileds {
    width: 229px;
}

.filters .nice-select.disabled .text-field {
    background: #f6f6f6;
    color: #a7a7a7;
    border: 1px solid rgb(150, 150, 160);
}

.filters .nice-select.f-action {
    width: 168px;
}

.filters .nice-select + .btn {
    margin-left: 13px;
}

.filters .btn + .btn {
    margin-left: 13px;
}

.filters .nice-checkbox {
    margin-left: 18px;
    font-size: 13px;
    line-height: 40px;
    vertical-align: top;
}

.filters .btn.apply {
    width: 125px;
}

/*/filters*/

.table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table .theader {
    display: table-row;
}

.table .row-group {
    display: table-row-group;
    border-top: 1px solid #fff;
}

.table .row {
    display: table-row;
}

.theader .cell {
    display: table-cell;
    font-size: 16px;
    cursor: pointer;
    background: #e4ecf0;
    border-top: 9px solid #e4ecf0;
    border-bottom: 9px solid #e4ecf0;
    padding: 10px 10px;
    -webkit-transition: background 0.3s, border 0.3s;
    -moz-transition: background 0.3s, border 0.3s;
    -ms-transition: background 0.3s, border 0.3s;
    transition: background 0.3s, border 0.3s;
}

.theader .cell:hover {
    background: #ddd;
    border-top: 9px solid #ddd;
    border-bottom: 9px solid #ddd;
}

.row-group .row:first-child .cell {
    padding-top: 20px;
}

.row-group .row:last-child .cell {
    padding-bottom: 20px;
}

.row-group .cell {
    padding: 3px 20px;
    background: #eef4f7;
    display: table-cell;
    vertical-align: top;
}

.row-group .cell:first-child {
    padding-left: 40px;
    width: 180px;
}

.row-group .row:nth-child(even) .cell:first-child {
    background: #e4ecf0;
}

.row-group .row.collapse .cell:first-child {
    padding-bottom: 20px;
}

.row-group .row.collapse ~ .row {
    display: none;
}

.row-group .nice-checkbox span:before {
    top: 50%;
    margin-top: -7px;
    position: absolute;
    right: -10px;
    margin-right: 0;
}

.table .cell + .cell {
    border-left: 1px solid #fff;
}

.table a {
    text-decoration: underline;
}

.table .toggle {
    position: relative;
    margin-left: 0;
    font-size: 16px;
}

.table .toggle:before {
    position: absolute;
    left: -20px;
    font-size: 13px;
    top: 0;
    text-decoration: none;
}

.table .item {
    position: relative;
}

.table .item .nice-checkbox {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -9px;
}

.table .item > span {
    text-decoration: underline
}

.row-group .row .cell:first-child {
    padding-left: 50px;
}

.row-group .row:first-child .cell:first-child {
    padding-left: 40px;
}

.table .icn-settings {
    color: #ef5824;
    font-size: 16px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.table .cell:hover .icn-settings {
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    -moz-opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    opacity: 1;
    filter: alpha(opacity=100);
}

.table .icn-settings:before {
    position: absolute;
    top: -17px;
    margin-left: 5px;
}

.table .icn-settings:hover {
    color: #e74b15;
}

.table .quota {
    color: #ef5824;
}

.theader span {
    position: relative;
}

.theader span:after {
    display: inline-block;
    margin-left: 10px;
    content: "";
    text-align: center;
    width: 10px;
}

.theader .asc span:after {
    content: "\f0d7";
}

.theader .desc span:after {
    content: "\f0d8";
}

.table .nice-checkbox {
    display: none;
}

.table.show-checkbox .item {
    padding-right: 20px;
}

.table.show-checkbox .nice-checkbox {
    display: inline-block;
}

/*dialog*/
.dialog {
    display: none;
    z-index: 100001;
    background: #d8e3e9;
    border: 1px solid #fff;
    min-width: 271px;
}

.pop-up {
    position: fixed;
    top: 50%;
    left: 50%;
}

.pop-up.abs {
    position: absolute;
    top: 0;
}

.dialog .icn-close {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: #43a4d5;
    color: #fff;
    font-size: 15px;
    position: absolute;
    right: 10px;
    top: 11px;
    cursor: pointer;
}

.dialog .icn-close:hover {
    background: #3094c7;
}

.local-dialog {
    position: absolute;
    border-radius: 10px;
}

.dialog .inner {
    padding: 15px;
}

.local-dialog .inner {
    border-top: 5px solid #43a4d5;
    padding: 0;
    border-radius: 5px 5px 0 0;
}

.dialog .action {
    text-align: right;
    padding: 10px 15px;
    font-size: 0;
}

.dialog .section + .section {
    border-top: 1px solid #cdd9e0;
    box-shadow: 0 -1px 0 #fff;
}

.dialog .section + .action {
    padding-top: 0;
}

.local-dialog:hover {
    z-index: 100002;
}

.local-dialog:before {
    width: 0;
    height: 0;
    content: '';
    position: absolute;
    left: 12px;
    top: -10px;
    border-bottom: 15px solid #43a4d5;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}

.dialog .section {
    padding: 15px;
}

.dialog h2 {
    font-size: 16px;
    margin: 0 15px 5px;
    padding: 20px 0 15px;
    border-bottom: 1px solid #c3cfd6;
}

.dialog .label-field span {
    width: 40%;
}

.dialog .label-field span + span {
    width: 60%;
}

.dialog textarea.simple {
    height: 50px;
}

.dialog .row-add-user {
    font-size: 0
}

.dialog .row-add-user .nice-select {
    width: 130px;
}

.dialog .row-add-user .btn {
    margin-left: 12px;
    padding: 0 18px 0 37px;
}

.dialog .row-add-user .btn:before {
    left: 13px;
}

.dialog .nice-select {
    vertical-align: middle;
}

/*/dialog*/

.panel {
    background: #eef4f7;
    padding: 15px 10px;
    border-radius: 5px;
    margin: 10px 0 5px;
}

.panel-toggle.collapse + .panel {
    display: none;
}

.panel-toggle {
    font-size: 14px;
    text-decoration: none;
    position: relative;
    padding-left: 26px;
}

.panel-toggle:hover {
    color: #354953;
}

.panel-toggle:before {
    position: absolute;
    left: 4px;
    top: 0;
}

.panel-toggle.collapse:before {
    content: "\f054";
}

.btn.help {
    padding: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    vertical-align: middle;
    margin-left: 5px;
}

/*add-dialog*/
.add-dialog {
    margin-top: 50px;
    width: 271px;
}

.add-dialog .nice-select {
    width: 210px;
}

.add-dialog .nice-select.full-w {
    width: 100%;
}

.add-dialog .nice-select.select-template {
    width: 147px;
}

.add-dialog .nice-select.select-template + .btn {
    padding-left: 13px;
    padding-right: 13px;
    margin-left: 8px;
}

/*/add-dialog*/

/*-- __Footer
------------------------------------------------------------*/

.footer {
    line-height: 10px;
    text-align: center;
}

@media screen and (max-width: 900px) {

}

.last-btn {
    margin: 0px 90px 0px 0px;
}

.tenant-editor {
    width: 25%;
}

.add-elem {
    margin-left: 15px;
    margin-right: 200px;
    padding: 0px 10px 0px 10px;
}

.btn-text {
    margin: 10px 0px 0px 10px;
    font-size: 16px;
    font-family: 'verdana', Arial;
    vertical-align: middle;
}

input[type=range] {
    -webkit-appearance: none;
    background-color: #bfc9cf;
    width: 200px;
    height: 5px;
}

.large-icon {
    font-size: 25px;
}

.ws-main {
    margin-top: 1px;
    background: #e4ecf0;
    padding: 10px 0px;
    font-size: 0;
}

.ws-editor {
    width: 100%;
    min-height: 600px;
    padding: 0px;
    margin-left: 10px;
    font-size: 16px;
    float: left;
}

.ws-style {
    margin-top: 20px;
    background: #e4ecf0;
    padding: 10px 12px;
    font-size: 0;
}

.take-me-up {
    margin-top: 1px;
}

.ws-style .template-search {
    width: 300px;
    padding-right: 55px;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.ws-style .template-search .icn-search {
    position: absolute;
    top: -1px;
    right: -1px;
    border-radius: 0 5px 5px 0;
    padding: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: top;
}

.ws-style .template-search .icn-search:before {
    position: static;
    font-size: 20px;
}

.take-me-right {
    /*    margin-left: 20px;*/
    float: right;
    /*    margin-right: auto;*/
}

.main-controls-style {
    padding: 0px 10px 0px 10px;
    width: 150px;
}

.multiselect {
    font-size: 14px;
}

.network-pop-up {
    position: absolute;
    top: 3%;
    left: 0%;
}

.smart-dialog {
    position: absolute;
    border-radius: 10px;
}

.smart-dialog .inner {
    border-top: 5px solid #43a4d5;
    padding: 0;
    border-radius: 5px 5px 0 0;
}

.smart-dialog:hover {
    z-index: 100002;
}

.smart-dialog:before {
    /*
        width: 0; height: 0; content: ''; position: absolute; left: 12px; top: -10px;
        border-bottom: 15px solid #43a4d5;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
    */
}

.group-list-style {
    float: left;
}

.x-small {
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
}

.first-btn {
    margin: 0 0 0 10px;
}

.smart-network-dialog {
    position: absolute;
    border-radius: 10px;
    top: 10px;
    left: 10px;
}

.smart-network-dialog .inner {
    border-top: 5px solid #43a4d5;
    padding: 0;
    border-radius: 5px 5px 0 0;
}

.smart-network-dialog:hover {
    z-index: 100002;
}

.smart-network-dialog:before {
    /*
        width: 0; height: 0; content: ''; position: absolute; left: 12px; top: -10px;
        border-bottom: 15px solid #43a4d5;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
    */
}

.ws-footer {
    width: 71%;
    min-height: 1px;
    padding: 0;
    margin-left: 25%;
    font-size: 16px;
    float: left;
}
